.catchment-area-button {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 32px;
    background-color: rgba(var(--black-1), 0.6);
    width: 48px;
    border-radius: 24px;
    top: 224px;
    transition-duration: 0.2s;
}

.catchment-area-button:hover,
.catchment-area-button.active {
    cursor: pointer;
    background-color: rgba(var(--black-1), 0.8);
    transition-duration: 0.2s;
}

.catchment-area-popup-container {
    position: fixed;
    bottom: 32px;
    width: 250px;
    height: 210px;
    background-color: rgb(var(--black-1));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition-duration: 0.2s;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 8px;
}

.catchment-area-popup-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.catchment-area-popup-container .catchment-area-popup-content button {
    padding: 8px 16px;
    cursor: pointer;
    background-color: rgb(var(--light-primary));
    color: rgb(var(--black-8));
    border: 1px solid rgb(var(--primary));
    border-radius: 4px;
    transition-duration: 0.2s;
}

.catchment-area-popup-container .catchment-area-popup-content button:hover {
    background-color: rgb(var(--primary));
    color: rgb(var(--black-0));
}

.catchment-area-popup-container .catchment-area-popup-content button.active {
    background-color: rgb(var(--primary));
    color: rgb(var(--black-0));
}

.catchment-area-result-popup-content {
    font-size: 0.9rem;
    color: rgb(var(--black-9));
    /* margin-bottom: 8px; */
}

.catchment-area-result-popup-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.catchment-area-result-popup-wrapper > div:not(:last-child) {
    margin-bottom: 16px;
}

.catchment-area-result-popup-wrapper .catchment-area-result-popup-flex {
    display: flex;
    justify-content: space-between;
}

.catchment-area-popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin-bottom: 8px;
}

.catchment-area-popup-header h3 {
    font-size: 14px;
    color: rgb(var(--black-9));
    margin-left: 8px;
}

#catchment-area-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 3px 6px;
    transition-duration: 0.5s;
}

#catchment-area-popup-close:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition-duration: 0.5s;
}

.catchment-area-popup-content {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.catchment-area-popup-content:first-of-type .catchment-area-popup-label {
    font-size: 0.8rem;
    color: rgb(var(--black-8));
}

.catchment-area-popup-footer {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.catchment-area-popup-footer button {
    padding: 8px 16px;
    background-color: rgb(var(--black-9));
    color: white;
    border: none;
    border-radius: 4px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.catchment-area-popup-footer button:hover {
    background-color: rgb(var(--black-8));
}

.catchment-area-popup-footer button:disabled {
    background-color:gray;
    cursor: not-allowed;
    pointer-events: none;
}

.catchment-area-marker {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-weight: bold;
}